# GitHub Pages에 정적 콘텐츠를 배포하기 위한 간단한 워크플로우
name: Deploy static content to Pages

on:
  # 기본 브랜치에 대한 푸시 이벤트 발생 시 실행
  push:
    branches: ['deploy']

  # Actions 탭에서 수동으로 워크플로우를 실행할 수 있도록 구성
  workflow_dispatch:

# GITHUB_TOKEN의 권한을 설정하여 GitHub Pages에 배포할 수 있도록 함
permissions:
  contents: read
  pages: write
  id-token: write

# 동시에 하나의 배포만 허용하도록 구성
concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  # 단순히 배포만 수행하기에 하나의 잡으로만 구성
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          #cache: 'npm'
      - name: Install dependencies
        run: npm install
      - name: Build
        run: npm run build
        env:
          VITE_PROJECT_NAME: ${{ secrets.VITE_PROJECT_NAME }}
          VITE_PUBG_API_URL: ${{ secrets.VITE_PUBG_API_URL }}
          VITE_PUBG_API_KEY: ${{ secrets.VITE_PUBG_API_KEY }}
          VITE_FB_apiKey: ${{ secrets.VITE_FB_apiKey }}
          VITE_FB_authDomain: ${{ secrets.VITE_FB_authDomain }}
          VITE_FB_databaseURL: ${{ secrets.VITE_FB_databaseURL }}
          VITE_FB_projectId: ${{ secrets.VITE_FB_projectId }}
          VITE_FB_storageBucket: ${{ secrets.VITE_FB_storageBucket }}
          VITE_FB_messagingSenderId: ${{ secrets.VITE_FB_messagingSenderId }}
          VITE_FB_appId: ${{ secrets.VITE_FB_appId }}
          VITE_FB_measurementId: ${{ secrets.VITE_FB_measurementId }}
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          # dist 디렉터리 업로드
          path: './dist'
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
